segmentation-models-pytorch @ git+https://github.com/qubvel/segmentation_models.pytorch@1fa49d0953708c0a61ab11c5cc4052d20909a9bc
albumentations==1.1.0
beautifulsoup4==4.11.1
deepspeed==0.8.3
efficientnet-pytorch==0.7.1
Flask==2.1.3
gdown==4.6.0
gdrive==0.0.9
geojson==3.0.1
huggingface-hub==0.5.1
image-dataset-viz==0.2.2
imageio==2.17.0
imageio-ffmpeg==0.4.7
matplotlib==3.3.4
mercantile==1.2.1
opencv-python==4.6.0.66
opencv-python-headless==4.5.5.64
pandas==1.4.2
Pillow==9.4.0
pytorch-lightning==1.9.0
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.8.0
shapely==2.0.1
timm==0.4.12
torch==1.13.1
torchvision==0.14.1
tqdm==4.64.0
transformers==4.18.0
Werkzeug==2.0.1
requests==2.24.0
gunicorn==20.1.0
pydantic==1.10.7
PyYAML
wandb
python-magic
waitress
Flask
